{
  "id": "custom",
  "name": "Custom (Cosmic Tree)",
  "version": "1.0.0",
  "author": "illusaen",
  "description": "Taken from cosmic tree picture",
  "dark": {
    "primary": "#{{base08-hex}}",
    "primaryText": "#{{base00-hex}}",
    "primaryContainer": "#{{base00-hex}}",
    "secondary": "#{{base09-hex}}",
    "surfaceText": "#{{base05-hex}}",
    "surfaceVariantText": "#{{base04-hex}}",
    "backgroundText": "#{{base05-hex}}",
    "outline": "#{{base03-hex}}",
    "error": "#{{base08-hex}}",
    "warning": "#{{base0A-hex}}",
    "info": "#{{base0C-hex}}"
  },
  "light": {
    "primary": "#{{base08-hex}}",
    "primaryText": "#{{base00-hex}}",
    "primaryContainer": "#{{base00-hex}}",
    "secondary": "#{{base09-hex}}",
    "surfaceText": "#{{base05-hex}}",
    "surfaceVariantText": "#{{base04-hex}}",
    "backgroundText": "#{{base05-hex}}",
    "outline": "#{{base03-hex}}",
    "error": "#{{base08-hex}}",
    "warning": "#{{base0A-hex}}",
    "info": "#{{base0C-hex}}"
  },
  "sourceDir": "custom"
}