input {
    mouse {
        middle-emulation
        scroll-button 274
        scroll-method "on-button-down"
        scroll-factor 1.100000
    }
    warp-mouse-to-focus
}
output "@mainMonitor@" {
    scale 1
    focus-at-startup
    transform "normal"
    position x=0 y=0
}
output "@secondaryMonitor@" {
    scale 1.250000
    transform "normal"
    position x=922 y=-1728
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    background-color "transparent"
    focus-ring { off; }
    border { off; }
    default-column-width { proportion 0.333333; }
    preset-column-widths {
        proportion 0.333333
        proportion 0.666667
    }
    center-focused-column "on-overflow"
    always-center-single-column
}
cursor {
    xcursor-theme "@cursorTheme@"
    xcursor-size @cursorSize@
}
hotkey-overlay { skip-at-startup; }
binds {
    Alt+Shift+4 hotkey-overlay-title="Screenshot" { screenshot show-pointer=false; }
    Alt+Shift+T hotkey-overlay-title="Terminal" { spawn-sh "kitten quick-access-terminal"; }
    Ctrl+Space hotkey-overlay-title="Launcher" { spawn-sh "dms ipc call spotlight toggle"; }
    Ctrl+Shift+Space hotkey-overlay-title="Notepad" { spawn-sh "dms ipc call notepad toggle"; }
    Mod+Ctrl+Space hotkey-overlay-title="Power Menu" { spawn-sh "dms ipc call powermenu toggle"; }
    Mod+C { expand-column-to-available-width; }
    Mod+Ctrl+C hotkey-overlay-title="Clipboard" { spawn-sh "dms ipc call clipboard toggle"; }
    Mod+Ctrl+Down { focus-monitor-down; }
    Mod+Ctrl+Shift+Down { move-window-to-monitor-down; }
    Mod+Ctrl+Shift+Q hotkey-overlay-title="Kill Wine" { spawn-sh "pkill -9 winedevice.exe"; }
    Mod+Ctrl+Shift+Up { move-window-to-monitor-up; }
    Mod+Ctrl+Up { focus-monitor-up; }
    Mod+Down { focus-workspace-down; }
    Mod+Escape hotkey-overlay-title="Keybinds" { spawn-sh "dms ipc call keybinds open niri"; }
    Mod+F { maximize-column; }
    Mod+G hotkey-overlay-title="Google Chrome" { spawn "google-chrome-stable"; }
    Mod+Left { focus-window-up-or-column-left; }
    Mod+Q repeat=false { close-window; }
    Mod+Right { focus-window-down-or-column-right; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Tab { toggle-overview; }
    Mod+Up { focus-workspace-up; }
    Mod+V { toggle-window-floating; }
    Mod+X { center-column; }
    Mod+Z { switch-preset-column-width; }
    XF86AudioLowerVolume hotkey-overlay-title="Vol Down" allow-when-locked=true { spawn-sh "dms ipc call audio decrement 5"; }
    XF86AudioMute hotkey-overlay-title="Mute" allow-when-locked=true { spawn-sh "dms ipc call audio mute"; }
    XF86AudioNext hotkey-overlay-title="Playerctl next" allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPlay hotkey-overlay-title="Playerctl play/pause" allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev hotkey-overlay-title="Playerctl prev" allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume hotkey-overlay-title="Vol Up" allow-when-locked=true { spawn-sh "dms ipc call audio increment 5"; }
}
workspace "music" {
    open-on-output "@secondaryMonitor@";
    layout {
        default-column-width { proportion 0.8; }
        preset-column-widths {
            proportion 0.8
            proportion 0.666667
        }
    }
}
workspace "chat" { open-on-output "@mainMonitor@"; }
workspace "code" { open-on-output "@mainMonitor@"; }
workspace "gaming" { open-on-output "@mainMonitor@"; }
window-rule {
    match app-id="steam" title="^notificationtoasts_\\d+_desktop$"
    open-focused false
    default-floating-position relative-to="bottom-right" x=2 y=2
}
window-rule {
    match title="^(.*)(o|O|s|S)(pen|ave) (f|F|a|a)(ile|s)(.*)$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^(.*)blueman-manager(.*)$"
    match app-id="^xdg-desktop-portal-gtk$"
    match app-id="^xdg-desktop-portal-gtk$"
    match app-id="^nemo$"
    shadow {
        draw-behind-window true
        color "#000000B3"
    }
    opacity 0.8
    background-effect {
        blur true
    }
    open-floating true
    max-width 2400
    max-height 1600
}
window-rule {
    match app-id="^mpv$"
    open-on-workspace "music"
}
window-rule {
    match app-id="^code$"
    match app-id="^google-chrome$"
    open-on-workspace "code"
}
window-rule {
    geometry-corner-radius 8.000000 8.000000 8.000000 8.000000
    clip-to-geometry true
}
window-rule {
    match app-id="^kitty$"
    shadow {
        draw-behind-window true
        color "#000000B3"
    }
}
window-rule {
    match app-id="^vesktop$"
    match app-id="^discord$"
    match app-id="^Element$"
    open-on-workspace "chat"
}
window-rule {
    match title="^Viking Rise Steam$"
    match app-id="^steam.*$"
    open-on-workspace "gaming"
}
window-rule {
    match title="^Viking Rise Steam$"
    min-width 4192
}

debug { wait-for-frame-completion-before-queueing; }

include optional=true "dms/alttab.kdl"
include optional=true "dms/colors.kdl"
include optional=true "dms/layout.kdl"