binds {
    Alt+Shift+4 hotkey-overlay-title="Screenshot" { screenshot show-pointer=false; }
    Alt+Shift+T hotkey-overlay-title="Terminal" { spawn-sh "kitten quick-access-terminal"; }
    Ctrl+Space hotkey-overlay-title="Launcher" { spawn-sh "dms ipc call spotlight toggle"; }
    Ctrl+Shift+Space hotkey-overlay-title="Notepad" { spawn-sh "dms ipc call notepad toggle"; }
    Mod+Ctrl+Space hotkey-overlay-title="Power Menu" { spawn-sh "dms ipc call powermenu toggle"; }
    Ctrl+Alt+Space hotkey-overlay-title="Clipboard" { spawn-sh "dms ipc call clipboard toggle"; }
    Mod+C { expand-column-to-available-width; }
    Mod+Ctrl+Down { focus-monitor-down; }
    Mod+Ctrl+Shift+Down { move-window-to-monitor-down; }
    Mod+Ctrl+Shift+Q hotkey-overlay-title="Kill Wine" { spawn-sh "pkill -9 winedevice.exe"; }
    Mod+Ctrl+Shift+Up { move-window-to-monitor-up; }
    Mod+Ctrl+Up { focus-monitor-up; }
    Mod+Down { focus-workspace-down; }
    Mod+Escape hotkey-overlay-title="Keybinds" { spawn-sh "dms ipc call keybinds open niri"; }
    Mod+F { maximize-column; }
    Mod+G hotkey-overlay-title="Google Chrome" { spawn "google-chrome"; }
    Mod+Left { focus-window-up-or-column-left; }
    Mod+Q repeat=false { close-window; }
    Mod+Right { focus-window-down-or-column-right; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Tab { toggle-overview; }
    Mod+Up { focus-workspace-up; }
    Mod+V { toggle-window-floating; }
    Mod+X { center-column; }
    Mod+Z { switch-preset-column-width; }
    XF86AudioLowerVolume hotkey-overlay-title="Vol Down" allow-when-locked=true { spawn-sh "dms ipc call audio decrement 5"; }
    XF86AudioMute hotkey-overlay-title="Mute" allow-when-locked=true { spawn-sh "dms ipc call audio mute"; }
    XF86AudioNext hotkey-overlay-title="Playerctl next" allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPlay hotkey-overlay-title="Playerctl play/pause" allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev hotkey-overlay-title="Playerctl prev" allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioRaiseVolume hotkey-overlay-title="Vol Up" allow-when-locked=true { spawn-sh "dms ipc call audio increment 5"; }
}