output "@mainMonitor@" {
    scale 1
    focus-at-startup
    transform "normal"
    position x=0 y=0
    // have to set refresh rate lower to remove screen flickering, see
    // https://github.com/niri-wm/niri/issues/2597
    // https://github.com/NVIDIA/open-gpu-kernel-modules/issues/801
    mode "5120x2160@100.035"
}
output "@secondaryMonitor@" {
    scale 1
    transform "90"
    position x=-1080 y=120
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
hotkey-overlay { skip-at-startup; }

layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    background-color "transparent"
    focus-ring { off; }
    border { off; }
    default-column-width { proportion 0.333; }
    preset-column-widths {
        proportion 0.333
        proportion 0.667
    }
    center-focused-column "on-overflow"
}

cursor {
    xcursor-theme "@cursorTheme@"
    xcursor-size @cursorSize@
}

input {
    mouse {
        middle-emulation
        scroll-button 274
        scroll-method "on-button-down"
        scroll-factor 1.100000
    }
    warp-mouse-to-focus
}

workspace "music" {
    open-on-output "@secondaryMonitor@";
    layout {
        default-column-width { proportion 0.8; }
        preset-column-widths {
            proportion 0.8
            proportion 0.666667
        }
    }
}
workspace "chat" { open-on-output "@mainMonitor@"; }
workspace "code" { open-on-output "@mainMonitor@"; }
workspace "gaming" { 
    layout {
        always-center-single-column
    }
    open-on-output "@mainMonitor@"
}

debug {
    wait-for-frame-completion-before-queueing
}

recent-windows {
    previews {
        max-height 1080
        max-scale 0.75
    }

    highlight {
        active-color "@base0E@ff"
        padding 30
        corner-radius 12
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

include "window-rules.kdl"
include "layer-rules.kdl"
include "animations.kdl"
include "binds.kdl"
