window {
  width: 900px;
  padding: 24px;
}

mainbox { spacing: 24px; }

inputbar {
  margin: 0 256px;
  padding: 10px 14px;
  spacing: 8px;
  children: [ icon-search, entry ];
}

prompt { enabled: false; }

icon-search {
  expand: false;
  filename: "search";
  vertical-align: 0.5;
}

listview {
  lines: 4;
  columns: 6;
  spacing: 16px;
  fixed-height: true;
  fixed-columns: true;
}

element {
  spacing: 6px;
  orientation: vertical;
}

element-icon, element-text {
  horizontal-align: 0.5;
}
