window {
    location: east;
    anchor: east;
    width: 180px;
    padding: 16px;
    border-radius: 20px 0 0 20px;
}

mainbox {
    children: [ listview ];
}

listview {
    columns: 1;
    spacing: 10px;
    fixed-height: false;
    background-color: transparent;
}

element {
    orientation: vertical;
    spacing: 6px;
}

element-icon {
    horizontal-align: 0.5;
    text-color: @text;
    size: 3em;
}

element-text { horizontal-align: 0.5; }
